*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

html{

    font-size: 62.5%;
    
   

}

:root {
    --charcoal-grey: #2f3336;
    --white: #ffffff;
    --very-light-pink: #d3d3d3;
    --dark-sand: #a98d5d;
}



/**/

.grid{
    display: grid;
    grid-template-areas: 
    "header image nav"
    "cont image nav"
    "cont desc nav";
    
    grid-template-columns: 80rem 43rem 5rem;
    grid-template-rows: 5rem 2fr auto;
    height: 90rem;

}

header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    height: 8.8rem;
    margin: 0 0 106px;
    padding: 3.6rem 5rem 3.6rem 8.8rem;
    
}

.header_ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.header_ul li a{
    text-decoration: none;
    width: 4.4rem;
    height: 1.6rem;
    margin: 0 3.2rem 0 0;
    font-family: Aeonik;
    font-size: 1.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--charcoal-grey);
}

.Real-Estate {
    
    height: 1.6rem;
    margin: 0 25rem 0 0;
    font-family: Aeonik;
    font-size: 1.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--charcoal-grey);
  }


.article{
    grid-area: cont;
    padding-top: 10rem;
    padding-left: 8.8rem;
    
}

.article h3{
    width: 14.5rem;
    height: 3.2rem;
    margin: 0 46rem 0.8rem 0;
    font-family: Aeonik;
    font-size: 1.8rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: var(--charcoal-grey);
  }

  .article h1{
    
    height: 8.8rem;
    margin: 0.8rem 1.5rem 2rem 0;
    font-size: 8.8rem;
    font-family: Aeonik;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--dark-sand);
  }

  .article h2{
    width: 41.4rem;
    height: 4.8rem;
    margin: 0.8rem 19.1rem 2.4rem 0;
    font-size: 3.2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--charcoal-grey);
  }

  .article p{
    width: 60.5rem;
    height: 11.2rem;
    margin: 2.4rem 0 8.8rem;
    padding-right: 5rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.75;
    color: var(--charcoal-grey);
  }

  .article p span{
    color: var(--dark-sand);
  }

  .article p+h2{
    color: var(--dark-sand);
  }

  .article button{
    width: 13.5rem;
    height: 3.6rem;
    margin: 3.2rem 47rem 0 0;
    padding: 1rem 4rem;
    border: solid 2px var(--dark-sand);
    background: transparent;
    color: var(--dark-sand);
  }


 .aside{
     grid-area: image;
     
     
 }

 .aside img{
    width: 43rem;
    height: 60.2rem;
 }
.aside_box{
    grid-area: desc;
    width: 43rem;
    height: 29.8rem;
    margin: 51.4rem 0 0;
    padding: 3.7rem 3rem 3.8rem;
    background-color: var(--charcoal-grey);
    
}

.aside_box span{
  width: 12.5rem;
  height: 2.4rem;
  margin: 0 10rem 2.4rem 0;
  font-family: Aeonik;
  font-size: 1.2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: var(--white);
}

.aside_box hr{
  width: 4.4rem;
  height: 0.3rem;
  margin: 2.4rem 28.2rem 2.5rem 0;
  background-color: var(--white);

}

.aside_box p{
  width: inherit;
  height: 14rem;
  font-size: 1.6rem;
  line-height: 1.75;
  letter-spacing: normal;
  color: var(--white);
}



nav{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5rem;
    
    
}

nav i{
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.line{
    border: 1px black solid;
    width: 1px;
    height: 16.7rem;
    margin: 3rem 0;
}

nav ul{
    list-style: none;
    transform: rotate(90deg);
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}

nav ul li a{
    text-decoration: none;
    width: 3.8rem;
    height: 1.2rem;
    margin: 4.5rem 0.5rem 6.7rem;
    font-family: Aeonik;
    font-size: 1.2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--charcoal-grey);
    
    


}

/** Here begins section 2 **/

.section_2{

  display: grid;
  grid-template-areas:
  "image description";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 8.8rem;

  
}

.section_2_image{
  grid-area: image;
  height: 57.5rem;
  padding-left: 8.8rem;
  width: 80rem;
}

.section_2_description{
  grid-area: description;
  height: 57.5rem;
  padding: 4.4rem 5rem 3.7rem 3.7rem;
  background-color: var(--white);
}

.section_2 span{
  width: 14.5rem;
  height: 2.4rem;
  margin: 0 10rem 2.4rem 0;
  font-family: Aeonik;
  font-size: 1.4rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: var(--dark-sand);
}

.section_2 hr{

  width: 4.4rem;
  height: 0.3rem;
  margin: 2.4rem 31.9rem 3.2rem 0;
  background-color: var(--dark-sand);


}

.section_2 p{
  width: 36.3rem;
  height: 34.3rem;
  margin: 3.2rem 0 0 0;
  font-family: Aeonik;
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--charcoal-grey);
}

.section_2 p > span{

  color: var(--dark-sand);

}

.section_2 button{

  width: 13.6rem;
  height: 3.6rem;
  margin: 0 22.7rem 0 0;
  padding: 1rem 4rem;
  border: solid 2px var(--dark-sand);
  background: transparent;
  color: var(--dark-sand);

}


/**Here begins section 3**/

.section_3{

  display: grid;
  grid-template-areas:
  "description image";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: fit-content;
}



.section_3_image{

  grid-area: image;
  height: 39.2rem;
  display: block;
  
}



.section_3_image img{
  width: 59rem;
  height: 39.2rem;

}

.item{
  display: none;
  width: 59rem;
  height: 39.2rem;
  overflow: hidden;
}


.active{
  display: block;
}

.active img{
  width: 59rem;
  height: 39.2rem;
}

.animate__animated.animate__fadeInUp{
  animation-duration: 2s ease;
}

.section_3_description{

  grid-area: description;
  width: 54.4rem;
  height:fit-content;
  padding: 0 0 3.3rem 8.8rem;
  background-color: var(--white);

}

.section_3 span{

  width: 14.5rem;
  height: 2.4rem;
  margin: 0 10rem 2.4rem 0;
  font-family: Aeonik;
  font-size: 1.4rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: var(--dark-sand);

}

.section_3 hr{

  width: 4.4rem;
  height: 0.3rem;
  margin: 2.4rem 31.9rem 3.2rem 0;
  background-color: var(--dark-sand);

}

.section_3 p{

  width: auto;
  height: fit-content;
  margin: 3.2rem 0 0 0;
  font-family: Aeonik;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--charcoal-grey);

}




/**Here begins section 4*/

.section_4{
  height: 11.2rem;
  padding: 3.2rem 3.7rem;
  background-color: var(--dark-sand);
  display: flex;
  margin-left: 8.8rem;
  margin-right: 5rem;
  flex-wrap: wrap;

}

.section_4 h1{

    width: fit-content;
    height: 40px;
    font-family: LustSlim;
    font-size: 35px;
    font-weight: normal;
    line-height: 1;
    color: var(--white);
    margin-right: 3rem;
    

}

.section_4 p{

  width: 600px;
  height: 48px;
  font-family: Aeonik;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  margin-right: 3rem;

}

.section_4-line{

  border: 2px white solid;
  height: 4.8rem;
  margin-right: 3rem;
}

.counter{
  display: flex;
  flex-direction: row;
  
}

.counter button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.next_button, .previous_button{
  font-size: x-large;
  color: white;
}

.counter button:focus{
  outline: none;
}

.counter_number{
  margin-left: 2rem;
}

/**Here begins section 5*/

.section_5{

  display: grid;
  grid-template-areas: 
  "image description";
  grid-template-columns: 1fr 1fr;
  padding-left: 8.8rem;
  padding-top: 8.9rem;
  padding-right: 5rem;

}

.section_5_img{
  grid-area: image;
}



.section_5_img img{

  height: 59.1rem;
  
}

.section_5_description{

  grid-area: description;
  padding-left: 5rem;
  width: 50rem;


}

.section_5_description span{

  width: 16.7rem;
  height: 2.4rem;
  margin: 0 0 2.4rem 0;
  font-family: Aeonik;
  font-size: 1.4rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: var(--dark-sand); 
}

.section_5_description hr{

  width: 4.4rem;
  height: 3px;
  margin: 2.4rem 0;
  background-color: var(--dark-sand);


}

.section_5_description p{
  width:50rem;
  padding-right: 5rem;
  font-family: Aeonik;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--charcoal-grey);
}

.section_5_description button{

  width: 13.6rem;
  height: 3.6rem;
  margin: 6.5rem 0 0 0;
  padding: 1.0rem 4.0rem;
  border: solid 2px var(--dark-sand);
  background-color: transparent;
  color: var(--dark-sand);

}

/**Here begins the section 6*/

.section_6{

  display: grid;
  grid-template-areas: 
  "description image";
  padding-left: 8.8rem;
  padding-right:5rem;
  padding-top: 8.9rem;
  

}

.section_6_img{
  grid-area: image;
}

.section_6_img img{
  width: 63rem;
}

.section_6_description{

  grid-area: description;
  

}

.section_6_description span{

  width: 16.7rem;
  height: 2.4rem;
  margin: 0 34rem 24rem 0;
  font-family: Aeonik;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
  color: var(--dark-sand);

}

.section_6_description hr{

  width: 4.4rem;
  height: 3px;
  margin: 2.4rem 46.3rem 3.2rem 0;
  background-color: var(--dark-sand);

}

.section_6_description p{

  width: 50.7rem;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--charcoal-grey);
  padding-right: 5rem;

}

/*Here begins the section 7**/

.section_7{
  display: grid;
  grid-template-areas:
  "images maini";
  padding-left: 8.8rem;
  padding-right:5rem;
  padding-top: 8.9rem;
  height: fit-content;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}

.section_7__div--1{
  grid-area: maini;
  
}

.section_7__div--1 img{
  width: 60rem;
  height: 36.5rem;
  cursor: pointer;
}



.section_7__div--2{
  grid-area: images;
  display: flex;
  flex-wrap: wrap;
}

.img{
  width: 17rem;
  height: 17rem;
  margin: 0 5rem 2rem 2rem;
  color: var(--white);
  position: relative;
  
}


.section_7__div--2-1 .img img{
  width: 17rem;
  height: 17rem;
}

.overlay{
  position: relative;
  bottom: 5rem;
  left: 2rem;
  font-size: 2rem;
  cursor: pointer;
  
}

.section_7__div--2-1 .img::before{
  content: "";
  position: absolute;
  width: 17rem;
  height: 17rem;
  background-color: var(--dark-sand);
  opacity: 0.5;
}

.img:hover{
  margin: 0rem 5rem 2rem 2rem;
  transform: scale(1.1,1.1);

}

/** Este es el modulo que permite ampliar la imagen en la galería-2**/
.img.active{
  position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}

.img.active img {
	z-index: 3;
	width: 400px;
	height: 400px;
	

}

.img.active .overlay{
  display: none;
}

.img.active::after{
  position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
  background-color:var(--charcoal-grey);
  opacity: 0.9;
  
}


/****/

/**Here begins section 8*/

.section_8{
  padding-left: 8.8rem;
  padding-right: 8.8rem;
}

.section_8 span{
  width: 22.3rem;
  height: 2.4rem;
  margin: 0 462px 24px 0;
  font-family: Aeonik;
  font-size: 1.4rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: var(--dark-sand);
}

.section_8 hr{

  width: 4.4rem;
  height: 3px;
  margin: 2.4rem 46.3rem 3.2rem 0;
  background-color: var(--dark-sand);

}

.section_8 p{

  height: 18px;
  margin: 33px 0 0;
  font-family: Aeonik;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: var(--charcoal-grey);

}

.section_8 table{
  width: 100%;
  margin-top: 5rem;
  border-color: var(--dark-sand);
  text-align: center;
  
}

.section_8 table td{
  height:5rem;
  border: 1px solid;
  border-color: var(--dark-sand); 
  font-size: 1.4rem;
}

td,th{
  border-collapse: collapse;
  border: 1px solid;
  border-spacing: 0;
}

/*Here begins section9*/

.section_9{
  display: grid;
  grid-template-areas: 
  "image form";

  grid-template-columns: 1fr 1fr;

  padding: 8.8rem 8.8rem 5rem 8.8rem ;
}

.section_9__div--1{
  grid-area: image;
}

.section_9__div--2{
  grid-area: form;
  padding-left: 6rem;
}

form{
  display: flex;
  flex-direction: column;

}

form span{
  width: 22.3rem;
  height: 2.4rem;
  margin: 0 0 24px 0;
  font-family: Aeonik;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
  color: var(--dark-sand);
}

form hr{
  width: 4.4rem;
  height: 3px;
  margin: 2.4rem 0 3.2rem 0;
  background-color: var(--dark-sand);
}

form p{
  height: fit-content;
  margin-bottom: 2rem;
  font-family: Aeonik;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: normal;
  color: var(--charcoal-grey);
}

form input{
  margin-bottom: 3rem;
  border: none;
  border-bottom: 1px solid;
  border-color: var(--dark-sand);
  font-family: inherit;
}

form input::placeholder{
  color: var(--dark-sand);
}

form textarea{
  border: none;
  border-bottom: 1px solid;
  border-color: var(--dark-sand);
  resize: none;
  height: 10rem;
  font-family: inherit;
}

form textarea::placeholder{
  color: var(--dark-sand);
}

form button{
  width: 132px;
  height: 36px;
  margin: 73px 0 0 0;
  padding: 1rem 4rem;
  border: solid 2px var(--dark-sand);
  background-color: transparent;
  color: var(--dark-sand);
}

/**Here is the footer**/
.footer {
  width: 100vw;
  height: fit-content;
  padding: 8.8rem;
  background-color: var(--charcoal-grey);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


.footer_div-1{
  display: flex;
  flex-direction: column;
}

.footer_div-2{
  display: flex;
  direction: row;
  justify-content: flex-end;
  width: fit-content;
}

.footer_div-2 ul{
  list-style: none;
}

.footer_div-2 ul li a{
  text-decoration: none;
}

.footer_div-1 h1{
  
  width: fit-content;
  height: 2.4rem;
  margin: 0 0.4rem 0.2rem 0;
  font-family: Aeonik;
  font-size: 2.4rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: var(--white);
  
  
}

.footer_div-1 p{

  width: 16.2rem;
  height: 12.8rem;
  margin: 0.2rem 0 0;
  font-family: Aeonik;
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: var(--white);

}



.footer_div-2 ul li{

  width: 10rem;
  height: 2.4rem;
  margin: 0 8.8rem 4rem 0;
  font-family: Aeonik;
  font-size: 1.8rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--white);

}

.last-list{

  width: 12rem;
  margin-right: none;
}

.footer_div-2 ul li a{

  width: 44rem;
  height: 1.6rem;
  font-family: Aeonik;
  font-size: 1.6rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: var(--white);

}

.credits{
  display: flex;
  justify-content: center;
  height: 3rem;
  color: var(--charcoal-grey);
  align-items: center;
  font-size: 1.4rem;
}

.name{
  color: var(--dark-sand);
}


